{% extends "base.html" %}

{% block content %}
<h1>Available Portfolios</h1>
<ul class="list-group">
    {% for portfolio in portfolios %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ url_for('portfolio_detail', portfolio_id=portfolio.id) }}">
                {{ portfolio.first_name }} {{ portfolio.last_name }}
            </a>
            <a href="{{ url_for('download_pdf', portfolio_id=portfolio.id) }}" class="btn btn-outline-primary btn-sm">Download as PDF</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
